@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --foreground-color: rgb(89, 103, 122);
    --background-color: rgb(248, 247, 253);
    --container-color: rgb(255, 255, 255);
    --primary-color: rgb(255, 127, 101);
    --primary-bg: #ff985c4d;
    --text-color: rgb(94, 92, 127);
    --stroke-color: #e7e7e7;
}

.dark {
    --foreground-color: rgb(143, 162, 187);
    --background-color: rgb(34, 40, 49);
    --container-color: rgb(46, 53, 65);
    --primary-color: rgb(255, 159, 140);
    --text-color: rgb(164, 181, 208);
    --stroke-color: rgb(62, 68, 78);

}

body {
    color: var(--foreground-color);
    background: var(--background-color);

}

html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    letter-spacing: .3px;
}